@import '../../../assets/Colors.scss';

.adds {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0 0 .7rem .7rem;
  border-radius: .5rem;
  width: 30vw;
  flex: 1;

  position: relative;
  align-items: center;
  // justify-content: center;
  // background-color: rgba($base , .6);
  a{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    text-decoration: none;
    background-color: $base;
    padding: .9rem 1.8rem;
    color: $white;
    border-radius: 1rem;
  }
  .tittle {
    background-color: $base;
    color: $yelow;
    font-size: 1.5rem;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
    padding: .8rem 1.3rem;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .6rem 1.2rem;
    width: 40%;
    margin-top: 4rem;
    .card-containe{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .item {
        display: flex;
        flex-direction: column;
  
        // label {
        //   font-size: .9rem;
        // }
  
        input , textarea{
          padding: .5rem 1rem;
          border-radius: .5rem;
          outline: none;
          // border: 1px solid rgba(0,0,0,.125);
          border: 1px solid $base;
  
          &:focus {
            box-shadow: 0 0 .5rem $base;
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      background-color: $base;
      padding: .5rem 1.1rem;
      border: none;
      color: $black;
      border-radius: .5rem;
      font-weight: bold;
      transition: scale .2s linear;
      color: $white;

      &::before {
        content: '';
        height: 1.5rem;
        width: 1.5rem;
        background-image: url('../../../assets/Icon/add.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: .95;
      }
    }
  }
}