<template>
  <div class="adds">
    <router-link to="./">Retour</router-link>
    <form class="form-item" @submit.prevent="submitData">
      <h1 class="tittle">Devis &nbsp;&nbsp;&nbsp;<i class="fa fa-calculator" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;<i
          class="fas fa-comment-dollar"></i></h1>
      <div class="card-containe">
        <div class="item" v-for="(item, index) in allMateriel" :key="index">
          <input type="hidden" :value="item.id">
          <label for="name">{{ item.nom }}</label>
          <input type="number" min="0" v-model="item.quantity">
        </div>
        <button type="submit">Valider</button>
        <!-- <div class="show-mibalika" @click="onShowModal">Affiche</div> -->
        <button @click="onShowModal">Affiche </button>
      </div>
    </form>
    <Modale :showModal="showModal"/>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import Modale from './Modal/Modale.vue';
import axios from 'axios';
import { materiel } from '../../../typeData';
const allMateriel = ref<materiel[]>([]);
const showModal = ref<boolean>(false)
const onShowModal = ()=>{
  showModal.value = true
}
onMounted(() => {
  axios.get('http://localhost:8000/api/materiel').then((response) => {
    allMateriel.value = response.data.data;
  });
});
type datatype = {
  id: string,
  qte: number
}
const submitData = () => {
  const dataArray = ref<datatype[]>([]); // Créer un tableau vide pour stocker les données

  allMateriel.value.forEach((item) => {
    const data = {
      id: item.id,
      qte: item.quantity,
    };
    dataArray.value.push(data); // Pousser les données dans le tableau
  });

  // Envoyer le tableau au serveur
  console.log(dataArray.value);

  axios
    .post('http://localhost:8000/api/consommation/devis', { "data": dataArray.value })
    .then((response) => {
      console.log(response.data);
      // Réinitialiser les quantités après l'envoi
      allMateriel.value.forEach((item) => {
        item.quantity = 0;
      });
    })
    .catch((error) => {
      // Gérer les erreurs ici
      console.error(error);
    });
};
</script>

<style lang="scss" src="./Sale.scss"></style>
