<template>
  <div class="modal-dialogue" v-if="showModal">
    <div class="close-function" v-if="typeModal != 'question'" @click="onClose">bien</div>
    <div class="close-function" v-else></div>
    <div class="modal-item question" v-if="typeModal === 'question'">
      <div class="close-btn" @click="onClose"></div>
      <div class="icon question-icon"></div>
      <div class="dialogue">
        <div class="quetion" v-if="select">Vous voulez vraimment {{ typeQuestion }} ? </div>
        <div class="response">
          <div class="response-btn" @click="response('yes')">Oui</div>
          <div class="response-btn" @click="response('no')">Non</div>
        </div>
      </div>
    </div>
    <div class="modal-item success" v-if="typeModal == 'success'">
      <div class="close-btn" @click="onClose"></div>
      <div class="icon success-icon"></div>
      <div class="info">Operaton effectuer avec succès!</div>
    </div>
    <div class="modal-item success" v-if="typeModal == 'error'">
      <div class="close-btn" @click="onClose"></div>
      <div class="icon error-icon"></div>
      <div class="info">Une erreur s'est produit</div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { Equipment } from '../../../../typeData';

const emits = defineEmits<{
  (e: 'close', close: boolean): void
  (e: 'response', response: string, id: string, typeResponse: string): void
}>()
const props = defineProps<{
  typeModal: string,
  showModal: boolean,
  typeQuestion: string,
  select: Equipment
}>()

const response = (response: string) => {
  if (props.select) {
    emits('response', response, props.select.id, props.typeQuestion)
    emits('close', false)
  }
}
const onClose = () => {
  emits('close', false)
}


</script>
<style lang="scss" src="./ModalDialogue.scss"></style>