@import '../../../../assets/Colors.scss';

.modal-dialogue {
  display: flex;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;

  .close-function {
    position: fixed;
    inset: 0;
    background-color: rgba(#000, .5);
    z-index: 1;
  }

  .modal-item {
    display: flex;
    position: relative;
    align-items: center;
    // max-width: 30rem;
    // max-height: 25rem;
    z-index: 10;
    background-color: $yelow;
    border-radius: .6rem;
    color: $black;
    padding: 1.5rem 2rem;
    gap: .5rem;

    .close-btn {
      position: absolute;
      right: .3rem;
      top: .3rem;
      padding: .5rem;
      height: 3rem;
      width: 3rem;
      transition: transform .5s linear;
      background: center / contain no-repeat url("../../../../assets/Icon/close-circle.svg");
    }

    .icon {
      width: 4rem;
      height: 5rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.question {
      .question-icon {
        background-image: url('../../../../assets/Icon/warning.svg');
      }

      .dialogue {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .6rem;
        gap: .5rem;

        .response {
          display: flex;
          align-self: flex-end;
          gap: .6rem;

          .response-btn {
            padding: .5rem 1rem;
            background-color: $base;
            color: $yelow;
            border-radius: .5rem;
            scale: .95;
            transition: scale .4s;

            &:hover {
              scale: 1;
            }
          }
        }
      }
    }

    .success-icon {
      background-image: url('../../../../assets/Icon/success.svg');
    }
    .error-icon{
      background-image: url('../../../../assets/Icon/error.svg');
    }
  }
}