<template>
  <div class="devis" v-if="show">
    <div class="row">
      <div class="col-lg-6">
        <div class="card  shadow mb-4">
          <div class="card-header">
            <h2>titre</h2>
          </div>
          <div class="card-body">
            <p>FQFQKFJQHF</p>
          </div>
          <div class="card-footer">
            <h1>dfdjdjdqs</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card  shadow mb-4">
          <div class="card-header">
            <h2>titre</h2>
          </div>
          <div class="card-body">
            <p>FQFQKFJQHF</p>
          </div>
          <div class="card-footer">
            <h1>dfdjdjdqs</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card  shadow mb-4">
          <div class="card-header">
            <h2>titre</h2>
          </div>
          <div class="card-body">
            <p>FQFQKFJQHF</p>
          </div>
          <div class="card-footer">
            <h1>dfdjdjdqs</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card  shadow mb-4">
          <div class="card-header">
            <h2>titre</h2>
          </div>
          <div class="card-body">
            <p>FQFQKFJQHF</p>
          </div>
          <div class="card-footer">
            <h1>dfdjdjdqs</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import 
//   import {mounted} from 'vue';
//   import axios from 'axios';
//   async mounted() {
//     const response = await axios.get('http://localhost:3000/tasks');
//     this.tasks = response.data;
//   }
</script>