<template>
  <div class="toast">
    <div class="toast-header">
      <strong>Toast</strong>
      <small class="text-muted">2 min 30 s</small>
      <button type="button" class="btn btn-close"></button>
    </div>
    <div class="toast-body">
      Hello word!
    </div>
  </div>
</template>
<script lang="ts" setup>
// const props = defineprops<{}>()
</script>
<style lang="scss" src="./table.scss" scoped></style>