<template>
  <div class="form">
    <form class="form-item" @submit.prevent="onAdd">
      <h1 class="tittle">Le tittre</h1>
      <div class="card-containe">
        <div class="card-input with-icon">
          <div class="icon name"></div>
          <input type="text" class="input-icon" placeholder="Description">
        </div>
        <div class="card-input with-icon">
          <div class="icon date"></div>
          <input type="text" class="input-icon" placeholder="Description">
        </div>
        <div class="card-input with-icon">
          <div class="icon "></div>
          <input type="text" class="input-icon" placeholder="Description">
        </div>
        <div class="card-input with-icon">
          <div class="icon "></div>
          <input type="text" class="input-icon" placeholder="Description">
        </div>
        <button type="submit">Valider</button>
      </div>
    </form>
    <form class="form-item" >
      <h1 class="tittle">Le tittre</h1>
      <div class="card-containe">
        <div class="card-input with-icon">
          <div class="icon question"></div>
          <input type="text" class="input-icon" placeholder="Description">
        </div>
        <div class="card-input-bottum">
          <div class="card-input">
            <label for="name">Input</label>
            <input type="text" placeholder="Nom d'utilisateur">
          </div>
          <div class="card-input">
            <label for="name">Input</label>
            <input type="text" placeholder="Nom d'utilisateur">
          </div>
        </div>
        <button type="submit">Valider</button>
      </div>
    </form>
    <form class="form-item" @submit.prevent="onAdd">
      <h1 class="tittle">Le tittre</h1>
      <div class="card-containe">
        <div class="card-input">
          <label for="name">From A</label>
          <input type="text" placeholder="Nom d'utilisateur">
        </div>
        <div class="card-input">
          <label for="name">Form DZ</label>
          <input type="text" placeholder="Nom d'utilisateur">
        </div>
        <div class="card-input">
          <label for="name">From SS</label>
          <input type="text" placeholder="Nom d'utilisateur">
        </div>
        <div class="card-input">
          <label for="name">Nom</label>
          <input type="text" placeholder="Nom d'utilisateur">
        </div>
        <div class="card-input">
          <label for="name">Nom</label>
          <input type="text" placeholder="Nom d'utilisateur">
        </div>
        <div class="card-input-bottum">
          <div class="card-input">
            <label for="name">Input</label>
            <input type="text" placeholder="Nom d'utilisateur">
          </div>
          <div class="card-input">
            <label for="name">Input</label>
            <input type="text" placeholder="Nom d'utilisateur">
          </div>
        </div>
        <button type="submit">Valider</button>
      </div>
    </form>
  </div>
</template>
<script lang="ts" setup>
 const onAdd = () => {
   console.log('bien')
 }
</script>
<style lang="scss" src="./Form.scss" scoped></style>
