@import '../../../assets/Colors.scss';

.form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
  padding: 1rem 2rem;

  .form-item {
    display: flex;
    flex-direction: column;
    width: 45%;
    word-wrap: break-word;

    .tittle {
      background-color: rgba($base , .5);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .7rem .7rem 0 0;
      color: $white;
    }

    .card-containe {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem 2rem;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: 0 0 .7rem .7rem;

      .card-input {
        display: flex;
        flex-direction: column;
        gap: .5em;
        &.with-icon{
          flex-direction: row;
          .icon{
            width: 4rem;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &.question{
              background-image: url('../../../assets/Svg/circle-question.svg');
            }
            &.name{
              background-image: url('../../../assets/Svg/dot-menu.svg');
            }
          }
          input{
            flex: 1;
          }
        }
        label {
          font-size: 1.6rem;
        }
        input {
          padding: 1.5rem 2rem;
          border-radius: .5rem;
          outline: none;
          // border: 1px solid rgba(0,0,0,.125);
          border: 1px solid $base;
          &:focus {
            box-shadow: 0 0 .5rem $base;
          }
        }
      }
      .card-input-bottum{
        display: flex;
        justify-content: space-between;
      }
      button {
        padding: 1.5rem 2rem;
        background-color: $base;
        border: none;
        color: $white;
        border-radius: .5rem;
      }
    }
  }
}