<template>
  <div class="h">
    <div class="affiche">{{ findAffiche }}</div>
    <video :src="findAffiche.movie" autoplay muted loop></video>
    <div class="btn1" @click="onChange('aaa')">a</div>
    <div class="btn2" @click="onChange('bbb')">b</div>
    <div class="btn3" @click="onChange('ccc')">c</div>
  </div>
</template>
<script lang="ts" setup>
import { presentation } from '../../typeData';
import { ref } from 'vue';
import videos1 from '../../assets/mp4/vd1.mp4'
import videos2 from '../../assets/mp4/vd2.mp4'
import videos3 from '../../assets/mp4/vd3.mp4'

const element = ref<presentation[]>([
  { id: "aaa", tittle: 'Tittre 1', detail: 'details 1', movie: videos1 },
  { id: "bbb", tittle: 'Tittre 2', detail: 'details 2', movie: videos2 },
  { id: "ccc", tittle: 'Tittre 3', detail: 'details 3', movie: videos3 },
])
const findAffiche = ref<presentation>(element.value[0])
const onChange = (idAffiche: string) => {
  let el = element.value.find(({ id }) => id === idAffiche)
  if(el){
    findAffiche.value = el
  }
}
</script>