@import '../../assets/Colors.scss';

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .top {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 .2rem .4rem #555;

    .sort{
      display: flex;
      align-items: center;
      gap: .5rem;
      .label{
        font-size: .9rem;
      }
      select{
        padding: .5rem 1rem;
        outline: none;
        border: .1rem solid $base;
        border-radius: .5rem;
      }
    }
    .search {
      display: flex;
      border: 1px solid $base;
      padding: .4rem .8rem;
      border-radius: .5rem;
      input {
        padding: .5rem 1rem;
        outline: none;
        border-radius: .5rem;
        text-transform: capitalize;
        border: none;
        background-color: $white;
      }
      .icon{
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../../assets/Svg/search.svg');
      }
      &:focus {
        border: 2px solid $base;
        box-shadow: 0 .2rem .4rem #555;
      }
    }
  }
  .containe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 82.5vh;
    overflow: auto;
    .containe-card{
      display: flex;
      gap: 1rem;
      justify-content: center;
      .card-item{
        border: .1rem solid $base;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        padding: .8rem 1.7rem;
        width: 15rem;
        gap: .4rem;

        .icon{
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 4rem;
          width: 4rem;
          &.produit{
            background-image: url('../../assets/Svg/check.svg');
          }
          &.livraison{
            background-image: url('../../assets/Svg/shipping-fast.svg');
          }
          &.retoure{
            background-image: url('../../assets/Svg/exchange.svg');
          }
          &.assistance{
            background-image: url('../../assets/Svg/phone.svg');
          }
        }
        .name{
          text-transform: capitalize;
          font-size: 1.5rem;
        }
      }
    }
    .product{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}