<template>
    <div class="IPA">
        <section class="home">
            <video :src="findAffiche.movie" autoplay muted loop height="200px"></video>
            <div class="content">
                <div class="globb">
                    <div class="titrer">
                        <h1>{{ findAffiche.tittle }} <div class="br"></div>
                        </h1>
                    </div>
                    <div class="texttt">
                        <p>{{ findAffiche.detail }}</p>
                    </div>
                </div>


                <div class="slider-navigation">
                    <div class="nav-btn" @click="onChange('aaa')"></div>
                    <div class="nav-btn" @click="onChange('bbb')"></div>
                    <div class="nav-btn" @click="onChange('ccc')"></div>
                </div>
            </div>
        </section>
        <div class="deuxiem">
            <h1 class="sensitext">Sensibilisation pour la sauvegarde de l'environnement</h1>
            <div class="img_sensible">
                <img class="immsg" :src="ims" height="420px" width="320px">
                <p class="about_text_sensible">Nous bénéficions chaque jour de l'énergie renouvelable du soleil pour
                    répondre à nos besoins quotidiens en ressources énergétiques. Cette source d'énergie durable contribue
                    à assurer notre approvisionnement en électricité de manière respectueuse de l'environnement</p>
            </div>

            <!-- ****************************** -->

            <div class="img_sensible1">
                <img class="immsg" :src="imt" height="420px" width="320px">
                <p class="about_text_sensible"> Les énergies fossiles ont longtemps alimenté notre développement, mais elles
                    ont aussi contribué au réchauffement climatique et à la dégradation de notre environnement.
                    et créer un avenir meilleur pour notre planète.</p>
            </div>

            <br><br><br>
            <div class="about_sensibl">
                <div class="txt_front_back">
                </div>
                <div class="zzz">
                    <div class="front_back">
                        <div class="card">
                            <div class="face front">
                                <img class="about_img_sensible" :src="imd">
                                <div class="face back">
                                    <h2>barrages hydroélectriques</h2>
                                    <p> source d'énergie renouvelable</p>
                                    <div class="link">

                                        <router-link to="/sale">
                                            <div class="icon"></div>
                                            <div class="text">details</div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gl_front_back">
                            <router-link class="liene" to="/sale">
                                <div class="ts">
                                    <h2 class="tite"> Barage Hydrolique</h2>
                                </div>
                            </router-link>
                            <div class="phrase">
                                <p class="ph">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Voluptates sapiente, enim architecto veniam cupiditate voluptatibus facilis
                                    repellat aspernatur recusandae fugit
                                    ex sed ipsam cumque magnam at, distinctio dolorem porro adipisci.</p>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------------- -->

                    <div class="front_back1">
                        <div class="card">
                            <div class="face front">
                                <img :src="imd2">
                                <div class="face back">
                                    <h2> grâce à leur efficacité énergétiques
                                    </h2>
                                    <p>Lampe LED</p>
                                    <div class="link">
                                        <router-link to="/sale">
                                            <div class="icon"></div>
                                            <div class="text">details</div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gl_front_back">
                            <router-link class="liene" to="/sale">
                                <div class="icon"></div>
                                <div class="ts">
                                    <h2 class="tite"> Ampoule Led </h2>
                                </div>

                            </router-link>

                            <div class="phrase">
                                <p class="ph">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Voluptates sapiente, enim architecto veniam cupiditate voluptatibus facilis
                                    repellat aspernatur recusandae fugit
                                    ex sed ipsam cumque magnam at, distinctio dolorem porro adipisci.</p>
                            </div>
                        </div>
                    </div>
                    <!-- **************************** -->

                    <div class="front_back2">
                        <div class="card">
                            <div class="face front">
                                <img class="about_img_sensible" :src="imd1">
                                <div class="face back">
                                    <p>Bornes électriques</p>
                                    <h2> Représentent l'épine dorsale de notre réseau électrique ambitions</h2>
                                    <div class="link">


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gl_front_back">
                            <div class="ts">
                                <router-link class="liene" to="/sale">
                                    <div class="icon"></div>
                                    <h2 class="tite"> Electrique haute tension</h2>
                                </router-link>




                            </div>
                            <div class="phrase">
                                <p class="ph">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Voluptates sapiente, enim architecto veniam cupiditate voluptatibus facilis
                                    repellat aspernatur recusandae fugit
                                    ex sed ipsam cumque magnam at, distinctio dolorem porro adipisci.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { presentation } from '../../typeData';
import { ref } from 'vue';
import videos1 from '../../assets/mp4/vd1.mp4'
import videos2 from '../../assets/mp4/vd3.mp4'
import videos3 from '../../assets/mp4/vd2.mp4'
import imd from '../../assets/img/igg/barrage.jpg'
import imd1 from '../../assets/img/igg/jirama.jpg'
import imd2 from '../../assets/img/igg/asdasdas_1.jpg'
// ***************** image de sensibilisation********************* 
import ims from '../../assets/img/igg/hh.gif'
import imt from '../../assets/img/igg/image1.jpg'



const element = ref<presentation[]>([
    { id: "aaa", tittle: 'Energie Renouvelable', detail: 'La convergence du numérique et de l"énergie verte redéfinit notre avenir.Les technologies digitales optimisent l"utilisation des énergies renouvelables, améliorent l"efficacité énergétique, et réduisent notre empreinte carbone.Un monde plus propre et connecté est à portée de main.Rejoignez la transition énergétique pour un avenir durable', movie: videos1 },
    { id: "bbb", tittle: 'Energie éolienne', detail: 'Nous sommes entourés de vents, tirant parti de cette ressource naturelle inestimable, tout en préservant notre précieuse planète. Il est impératif de reconnaître la valeur de cette énergie propre et durable pour un avenir plus respectueux de l"environnement.', movie: videos2 },
    { id: "ccc", tittle: 'Energie panneau solaire', detail: 'Nous bénéficions chaque jour de l"énergie renouvelable du soleil pour répondre à nos besoins quotidiens en ressources énergétiques.Cette source d"énergie durable contribue à assurer notre approvisionnement en électricité de manière respectueuse de l"environnement', movie: videos3 },
])
const findAffiche = ref<presentation>(element.value[0])
const onChange = (idAffiche: string) => {
    let el = element.value.find(({ id }) => id === idAffiche)
    if (el) {
        findAffiche.value = el
    }
}

</script>
import { ref } from 'vue';
<style  src="./Home.css" scoped></style>