section {
    /* padding: 100px; */
    /* display: flex;
    flex-direction: column; */

}

.home {
    position: relative;
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background: #76e443;

}

.home .content {
    z-index: 888;
    color: rgb(248, 237, 237);
    width: 70%;
    margin-top: 50px;
}

.globb {
    margin-top: 215px;
}

.titrer h1 {
    text-align: center;
    font-size: 3.5em;
    color: #e7cf8b;
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texttt p {
    font-size: 1.9em;
    max-width: 100%;
    text-align: center;
}


.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.slider-navigation {
    z-index: 888;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    position: relative;
    transform: scale(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: rgb(246, 248, 247);
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(198, 248, 217, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.home::before {
    z-index: 777;
    content: "";
    position: absolute;
    background: rgba(80, 83, 81, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.deuxiem {
    padding: 22px;
}

.deuxiem h1 {
    color: #229251;
}

.IPA {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* //////////////////////////// */



.sensitext {
    color: #e7cf8b;
    text-align: center;
    font-size: 3.2em;
}

.about_img_sensible {
    border-radius: 8px;
    width: 450px;
    height: 450px;
}


.about_container {

    width: 60%;
    margin: auto;
    max-width: 562px;
}

.contr {
    margin: 20px 0;
    color: #e7cf8b;
    padding-bottom: 20px;
}

.card {
    position: relative;
    height: 400px;
    width: 350px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}

.card .front {
    transform: perspective(600px)rotateY(0deg);
    box-shadow: 0, 5px 10px #000;
}

.card .front img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    color: aqua;
    background: #000;
    object-fit: cover;
}

a {
    z-index: 10;
}

.card .front h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    line-height: 45px;
    color: rgb(32, 31, 29);
    background: transparent;
    text-align: center;

}

.card .back {
    transform: perspective(600px)rotateY(180deg);
    background: rgba(180, 103, 103, 0.712);
    padding: 15px;
    color: rgb(34, 31, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card .back p {
    color: #fff;
    font-size: 35px;
}

.card .back .link {
    border-top: solid 1px black;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #fff;
    text-decoration: none;
}

.card .back h2 {
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: #fff;
}

.card :hover .front {
    transform: perspective(600px)rotateY(180deg);
}

.card :hover .back {
    transform: perspective(600px)rotateY(360deg);
}

.zzz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 53px;

}

.tite {
    text-align: center;
    font-size: 2.3em;
    color: #229251;

}

.titre h2 {
    text-decoration: none;
}

/* ksdkkdfkdfdkfjdkfjdfjdf */
/* .gl_front_back{
       display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 30%;
} */

.immsg {
    height: 350px;
    width: 420px;
    border-radius: 7px;
}

.img_sensible {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
}

.about_text_sensible {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    max-width: 50%;
    margin-top: 85px;
}

.img_sensible:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: .3s ease-in-out;
}

.img_sensible1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: center;
}

.img_sensible1:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: .3s ease-in-out;
}

.face .back h2 {
    text-align: center;
    padding-bottom: 23px;
    font-size: 15px;
}

/* 
.br {
    text-align: center;
    font-size: 2.5em;
    padding-top: -35px;
} */

.liene {
    text-decoration: none;
}