@import '../../../../assets/Colors.scss';

.modale {
  display: flex;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;

  .close-function {
    position: fixed;
    inset: 0;
    background-color: rgba(#000, .5);
    z-index: 1;
  }

  .modal-item {
    // color: #88d5b5;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 24rem;
    height: 21rem;
    z-index: 2;
    background-color: $yelow;
    border-radius: .6rem;
    color: $black;
    &.info{
      width: 60rem;
      height: 35rem;
      gap: .5rem;
      .info-item{
        padding-left: 1rem;
      }
      .info-timetable{
        display: flex;
        flex-direction: column;
        padding: .5rem 1rem;
        gap: .4rem;
        flex: 1;
        .tittle-timetable{
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
        table {
          border-collapse: collapse;
          border-radius: .5rem;
          width: 100%;
          th, td {
            border: .1rem solid #ccc;
            text-align: center;
            padding: .5rem 1.8rem;
          }
          th{
            background-color: #333;
            color: $yelow;
          }
        }
      }
    }
    &.update{
      width: 27rem;
      height: 25rem;
    }
    .tittle {
      background-color: $base;
      color: $yelow;
      font-size: 1.5rem;
      text-align: center;
      border-radius: .5rem .5rem 0 0;
      padding: .8rem 1.3rem;
      font-weight: bold;
    }

    .close-btn {
      position: absolute;
      right: .5rem;
      top: .5rem;
      padding: .5rem;
      height: 1.5rem;
      width: 1.5rem;
      transition: scale .5s linear;
      background: center / contain no-repeat url("../../../../assets/Icon/close-circle.svg");
      &:hover {
        scale: 1.1;
      }
    }

    .form-item {
      display: flex;
      padding: 1rem 2rem;
      background-color: rgba($base , .6);
      gap: .5rem;
      border-radius:0 0 .5rem .5rem;
      flex-direction: column;
      flex: 1;
      .item {
        display: flex;
        flex-direction: column;

        label {
          font-size: .9rem;
        }

        input {
          padding: .5rem 1rem;
          outline: none;
          border-radius: .5rem;
          font-size: 1.1rem;
          color: $black;
          background-color: $yelow;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        padding: .5rem 1.1rem;
        border: none;
        color: $black;
        border-radius: .5rem;
        font-weight: bold;
        transition: background-color .2s linear;

        &::before {
          content: '';
          height: 1.5rem;
          width: 1.5rem;
          background-image: url('../../../../assets/Icon/add-teacher.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:hover {
          background-color: rgba($yelow, .5);
        }

        &:active {
          scale: .95;
        }
      }
    }
  }
}