<template>
  <div class="modale" v-if="showModal">
    <div class="modale-item">
      <div class="btn-close" @click="close"></div>
      <div class="mibalika">
        <img :src="img" alt="">
      </div>
    </div> 
  </div>
</template>
<script lang="ts" setup>
import img from '../../../../assets/img/igg/dev1.jpg'

const props = defineProps<{
  showModal: boolean,
}>()

const close = () => {
  console.log(props)
  // emits('close', false)
}

</script>
<style lang="scss" src="./Modale.scss" scoped></style>
