@import '../../assets/Colors.scss';
.nav-bar{
  display: flex;
  width: 100%;
  background-color: $base;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  padding: 2rem 4rem ;
  color: $white;
  .logo{
    font-size: 3rem;
  }
  .slogan{
    font-size: 2rem;
    text-transform: capitalize;
    animation: amiam 5s infinite reverse;
    transition: all .5s ;
  }
}
@keyframes amiam {
  0%{
    transform:  scale(.5);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform : scale(.5);
  }
}
