<template>
  <div class="nav-bar">
    <div class="logo">VerTECH</div>
    <div class="slogan">L"energie verte alimente la revolution propre numerique</div>
  </div>
</template>
<script lang="ts" setup></script>
<style lang="scss" src="./Navbar.scss" scoped></style>
<!-- <style  src="./Nav.css" scoped></style> -->