<script setup lang="ts">
</script>

<template>
  <div class="hello-word">
    <h1>Hack-IT</h1>
    <div class="img-div">
      <div class="first-img img"></div>
      <div class="second-img img"></div>
    </div>
    <div class="by">By Real Scripte <div class="icon"></div></div>
  </div>
</template>

<style lang="scss" src="./Helloword.scss" scoped>
.read-the-docs {
  color: #888;
}
</style>
