.hello-word{
  display: flex;
  flex-direction: column;
  .img-div{
    display: flex;
    gap: 1rem;
    .img{
      width: 25rem;
      height: 25rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 1rem;
      &.first-img{
        background-image: url('../assets/img/first.jpg');
      }
      &.second-img{
        background-image: url('../assets/img/second.jpg');
      }
    }
  }
  .by{
    display: flex;
    .icon{
      width: 2rem;
      height: 2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 1rem;
      background-image: url('../assets/img/RealScripte.svg');  
    }
  }
}