<template>
  <div class="modale" v-if="showModal">
    <div class="close-function" @click="close"></div>
    <div class="modal-item " v-if="typeModal === 'info'">
      <div class="tittle">Information</div>
      <div class="close-btn" @click="close"></div>
      <div class="form-item">
        <div class="info-item"><span>Nom : </span>{{ `${produit.nom} ` }}
        </div>
        <div class="info-item"><span>Capacite : </span>{{ produit.capacite }}</div>
        <div class="info-item"><span>prix : </span> {{ produit.prix }}</div>
      </div>
      <!-- <div class="info-item"><span></span> {{ roomSelected }}</div> -->

    </div>
    <form @submit.prevent="onUpdate" class="modal-item update" v-if="typeModal === 'update'">
      <div class="close-btn" @click="close"></div>
      <div class="tittle">Modification du produit</div>
      <div class="form-item">
        <div class="item">
          <label for="mention">Nom </label>
          <input type="text" v-model="produit.nom" required>
        </div>
        <div class="item">
          <label for="Parcoure">Capacité</label>
          <input type="number" v-model="produit.capacite" required>
        </div>
        <div class="item">
          <label for="nbr-student">Prix</label>
          <input type="number" :min="0" v-model="produit.prix">
        </div>
        <button type="submit">Modifier</button>
      </div>
    </form>
    <form @submit.prevent="onAddAccessoire" class="modal-item update" v-if="typeModal === 'new'">
      <div class="close-btn" @click="close"></div>
      <div class="tittle">Modification nouveu accessoire </div>
      <div class="form-item">
        <div class="item">
          <label for="mention">Nom </label>
          <input type="text" v-model="addAccessoire.nom" required>
        </div>
        <div class="item">
          <label for="nbr-student">Prix</label>
          <input type="number" :min="0" v-model="addAccessoire.prix">
        </div>
        <select v-model="addAccessoire.type">
          <option value="batery">batery</option>
          <option value="convertisseur">convertisseur</option>
          <option value="ondulateur">ondulateur</option>
          <option value="cablage">cablage</option>
        </select>
        <button type="submit">Ajouter</button>
      </div>
    </form>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import { Equipment, accessoire } from '../../../../typeData';
import axios from 'axios';

const addAccessoire = ref<accessoire>({
  id: '',
  nom: '',
  type: '',
  equipement_id: '',
  prix: 0
})

const props = defineProps<{
  showModal: boolean,
  typeModal: string,
  produit: Equipment
}>()
const emits = defineEmits<{
  (e: 'close', hide: boolean): void
}>()
const onAddAccessoire = () => {
  addAccessoire.value.equipement_id = props.produit.id
  console.log(addAccessoire.value.equipement_id)
  axios.post("http://localhost:8000/api/accessoire", addAccessoire.value).then((response) => {
    console.log(response)
  }).catch((err) => {
    console.log(err);
  })
  close()
}
const close = () => {
  console.log(props.showModal)
  emits('close', false)
}
const onUpdate = () => {
  axios.put(`http://localhost:8000/api/equipement/${props.produit.id}`, props.produit).then((reponse) => {
    console.log(reponse)
    close()
  }).catch((err) => {
    console.log(err)
  })
}
</script>
<style lang="scss" src="./Modale.scss" scoped></style>
