@import '../../../../assets/Colors.scss';

.modale {
  display: flex;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;

  .close-function {
    position: fixed;
    inset: 0;
    background-color: rgba(#000, .5);
    z-index: 1;
  }

  .modal-item {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 35rem;
    min-height: 30rem;
    font-size: 2rem;
    z-index: 2;
    background-color: $yelow;
    border-radius: .6rem;
    color: $black;
    .tittle {
      background-color: $base;
      color: $yelow;
      // font-size: 1.5rem;
      text-align: center;
      border-radius: .5rem .5rem 0 0;
      padding: .8rem 1.3rem;
      font-weight: bold;
    }

    .close-btn {
      position: absolute;
      right: .5rem;
      top: .5rem;
      padding: .5rem;
      height: 4rem;
      width: 4rem;
      background: center / contain no-repeat url("../../../../assets/Icon/close-circle.svg");
    }

    .form-item {
      display: flex;
      padding: 1.6rem 3rem;
      background-color: rgba($base , .6);
      gap: .5rem;
      border-radius:0 0 .5rem .5rem;
      flex-direction: column;
      flex: 1;
      font-size: 2rem;
      .item {
        display: flex;
        flex-direction: column;

        label {
          // font-size: .9rem;
        }

        input , select {
          padding: .9rem 1.7rem;
          outline: none;
          border-radius: .5rem;
          // font-size: 1.1rem;
          color: $black;
          background-color: $yelow;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        padding: .5rem 1rem;
        border: none;
        color: $black;
        border-radius: .5rem;
        font-weight: bold;
        transition: background-color .2s linear;

        &::before {
          content: '';
          height: 1.5rem;
          width: 1.5rem;
          background-image: url('../../../../assets/Icon/add-teacher.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:hover {
          background-color: rgba($yelow, .5);
        }

        &:active {
          scale: .95;
        }
      }
    }
  }
}