<template>
  <div class="card">
    <!-- <div class="overlay"></div> -->
    <img :src="img" alt="pc">
    <div class="detail">
      <div class="name">Ordinateur ACER Aspire</div>
      <div class="bottum">
        <div class="detail-item btn-detail">
          <span></span>
          <div class="text">Details</div>
          
          <del>Details</del>
        </div>
        <div class="detail-item price">Prix : 1.000.000 Ar</div>
      </div>
      <!--<div class="detail-item">Intel Core i5-1035G1 3.20GHz</div>
      <div class="detail-item">RAM 4Go DDR3, HDD 500Go,</div>
      <div class="detail-item">GRAPHICS intel HD, ecran 17"</div>
      <div class="detail-item">Webcam, wifi, Lecteur dvd</div>
      <div class="detail-item">Batterie 07heures.</div> -->
    </div>
  </div>
</template>
<script lang="ts" setup>
import img from '../../../assets/img/pc.jpg';
// const props = defineprops<{}>()
</script>
<style lang="scss" src="./Card.scss" scoped></style>