@import '../../../assets/Colors.scss';
.card{
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(#000 , .125);
    // background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  }
  img{
    display: flex;
    width: 100%;
    transition: scale .5s linear;
    scale: .9;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    &:hover{
      scale: 1;
    }
  }
  .detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 100%;
    gap: .5rem;
    .bottum{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .detail-item{
        display: flex;
        gap: .3rem;
        font-weight: bold;
        span{
          width: 2rem;
          height: 2rem;
          border: .1rem solid $base;
          // background-position: center;
          // background-repeat: no-repeat;
          // background-size: cover;
        }
      }
    }
    // .detail-item{
    //   font-size: 2rem;
    // }
  }
}