<template>
  <div class="login">
    <div class="left-img" @click="oncl"></div>
    <div class="rigth">
      <h1>Content de te revoir</h1>
      <form @submit.prevent="onLogin">
        <h1 class="tittle">Connexion</h1>
        <div class="card-containe">
          <div class="card-input">
            <label for="name">Nom d'Utilisateur</label>
            <input type="text" placeholder="Nom d'utilisateur" v-model="users.name">
          </div>
          <div class="card-input">
            <label for="name">Form DZ</label>
            <input type="text" placeholder="mot de passe" v-model="users.password">
          </div>
          <div class="card-bottom">
            <div class="item">
              <input type="checkbox" name="" id="">
              Se souviene de moi
            </div>
            <div class="item">Mot de passe oublier ?</div>
          </div>
          <button type="submit">Connexion</button>
        <div class="no-compte">
          <div >Pas de compte ? </div>
          <div class="btn-create-compte">Creer un compte</div>
        </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import { user } from '../../typeData';

const oncl = ()=>{
  console.log("bine")
}
const users = ref<user>({
  name: '',
  password: ''
})
const onLogin = () => {
  console.log('bien')
}
</script>
<style lang="scss" src="./Login.scss" scoped></style>
<!-- <script lang="js">
const l = document.getElementById('ok');

</script> -->