@import '../../assets/Colors.scss';

.login {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: .8rem 1.8rem;
  gap: 1.8rem;

  .left-img {
    width: 65vw;
    height: 50rem;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/img/login.jpg');
  }

  .rigth {
    width: 45%;
    form {
      display: flex;
      flex-direction: column;
      word-wrap: break-word;

      .tittle {
        background-color: rgba($base , .5);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .7rem .7rem 0 0;
        color: $white;
        margin-bottom: 0;
      }

      .card-containe {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem 2rem;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0 0 .7rem .7rem;

        .card-input {
          display: flex;
          flex-direction: column;
          gap: .5em;

          &.with-icon {
            flex-direction: row;

            .icon {
              width: 4rem;
              height: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              &.question {
                background-image: url('../../../assets/Svg/circle-question.svg');
              }

              &.name {
                background-image: url('../../../assets/Svg/dot-menu.svg');
              }
            }

            input {
              flex: 1;
            }
          }

          label {
            font-size: 1.6rem;
          }

          input {
            padding: 1.5rem 2rem;
            border-radius: .5rem;
            outline: none;
            // border: 1px solid rgba(0,0,0,.125);
            border: 1px solid $base;

            &:focus {
              box-shadow: 0 0 .5rem $base;
            }
          }
        }
        .card-bottom{
          display: flex;
          justify-content: space-between;
          .item{
            display: flex;
            align-items: center;
            gap: .8rem;
          }
        }
        button {
          padding: 1.5rem 2rem;
          background-color: $base;
          border: none;
          color: $white;
          border-radius: .5rem;
        }
        .no-compte{
          display: flex;
          align-items: center;
          gap: .5rem;
          align-self: flex-end;
          .btn-create-compte{
            padding: .1em .3em;
            border: none;
            color: $base;
            border-radius: .5rem;
          }
        }
      }
    }
  }
}