<template>
  <div class="app">
    <Navbar />
    <div class="app-containe">
      <router-view></router-view>
    </div>
  </div>
</template>

<script setup lang="ts">
import Navbar from './components/Navbar/Navbar.vue';

</script>
<style lang="scss" scoped>
@import './assets/Colors.scss';
.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  .app-containe{
    display: flex;
    width: 100vw;
    height: 95vh;
    overflow: auto;
  }
}
</style>
