<template>
  <div class="add-equipment">
    <div class="adds" v-if="showAdd">
      <div class="tittle">Ajout equipment</div>
      <form @submit.prevent="onAddEquipment">
        <div class="item">
          <label for="name">Nom </label>
          <input type="text" placeholder="Nom du produit" v-model="addProduct.nom" required>
        </div>
        <div class="item">
          <label>Capacité</label>
          <input type="number" placeholder="Abreviation" v-model="addProduct.capacite" required :min="0">
        </div>
        <div class="item">
          <label>Prix </label>
          <input type="text" placeholder="Prix" v-model="addProduct.prix" :min="0" required>
        </div>
        <div class="item">
          <label for="name">Description </label>
          <textarea cols="15" rows="7" placeholder="Description" v-model="addProduct.description" required></textarea>
        </div>
        <button type="submit">Ajouter</button>
      </form>
    </div>
    <div class="list">
      <div class="card" v-for="(equipment, index) in allEquipement" :key="index">
        <div class="label">Equipment</div>
        <div class="info">
          <div class="info-item">{{ equipment.nom }} </div>
          <div class="info-item">{{ `Capacité : ${equipment.capacite} Kw` }} </div>
          <div class="info-item">{{ `Prix : ${equipment.prix} Ar` }} </div>
        </div>
        <div class="top-course">
          <div class="label">Accessoire</div>
          <div class="add-accessoire" @click="onShowModal(equipment.id, 'new')">Ajouter Accessoire</div>
        </div>
        <div class="course">
          <div class="course-item" v-for="(accessoir , index) in getAccessoire(equipment.id)" :key="index">
            {{ accessoir.nom }}
          </div>
        </div>
        <div class="action">
          <div class="btn update" @click="onShowModal(equipment.id, 'update')">Modifier</div>
          <div class="btn delete" @click="onShowModal(equipment.id, 'delete')">Suprimer</div>
          <div class="btn info-teacher" @click="onShowModal(equipment.id, 'info')">Info</div>
        </div>
      </div>
    </div>
    
    <ModalDialogue :select="produitSelect" :showModal="showModalDialogue" :typeModal="typeModal"
      :typeQuestion="typeQuestion" @close="onClose" @response="onResponse" />
    <Modal :produit="produitSelect" :showModal="showModal" :typeModal="typeModal" @close="onClose" />
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted } from 'vue';
import Modal from './Modal/Modale.vue';
import ModalDialogue from './ModalDIalogue/ModalDialogue.vue';
import axios from 'axios';
import { Equipment, accessoire } from '../../../typeData';
// import { v4 as uuid } from 'uuid'
// import { onShowModal, showModal, showModalDialogue, typeModal, /*typeQuestion, selected ,*/ selectedRoom, onDelete, onUpdate } from '../../../function';
const showModal = ref<boolean>(false)
const showModalDialogue = ref<boolean>(false)
const typeQuestion = ref<string>('')
const allEquipement = ref<Equipment[]>([])
const showAdd = ref<boolean>(true);
const typeModal = ref<string>('')
const addProduct = ref<Equipment>({
  id: '',
  nom: '',
  capacite: 0,
  prix: 0,
  description: ''
})
const produitSelect = ref<Equipment>({
  id: '',
  nom: '',
  capacite: 0,
  prix: 0,
  description: ''
})
const noAccessoire = ref<accessoire>({
  id: '',
  nom: '',
  type: '',
  prix: 0,
  equipement_id: '',
})

const allAccessoire = ref<accessoire[]>([])
onMounted(() => {
  axios.get('http://localhost:8000/api/equipement').then((response) => {
    allEquipement.value = response.data.data
  })
  axios.get('http://localhost:8000/api/accessoire').then((response) => {
    allAccessoire.value = response.data.data
  })
})

const onAddEquipment = () => {
  axios.post('http://localhost:8000/api/equipement', addProduct.value).then((response) => {
    if (response.status) {
      onShowModal(addProduct.value.id, 'success')
      reset()
    }
  }).catch((err) => {
    console.log(err)
    onShowModal(addProduct.value.id, 'error')
  })
}
const onResponse = (response: string) => {
  if (response === 'no') {
    showModalDialogue.value = false
  }
}
const onShowModal = (idE: string, type: string) => {
  if (type == 'delete') {
    showModalDialogue.value = true
    typeModal.value = 'question'
    typeQuestion.value = 'supprimer'
  }
  else if (type === 'success' || type === 'error') {
    typeModal.value = type
    showModalDialogue.value = true
  }
  else if (type === 'updateQuestion') {
    typeQuestion.value = 'modifier'
    showModalDialogue.value = true
    typeModal.value = 'question'
    showModal.value = false
  }
  else {

    showModal.value = true
    typeModal.value = type
  }
  let select = allEquipement.value.find(({ id }) => idE === id)
  if (select) {
    produitSelect.value = select
  }
}
const onClose = (hide: boolean) => {
  showModal.value = hide
  showModalDialogue.value = hide
}
const getAccessoire = (idC: string) => {
  console.log(idC)
  let accessoireFilter = allAccessoire.value.filter(({ equipement_id }) => equipement_id === idC)
  if (accessoireFilter) {
    return accessoireFilter
  }
  else return noAccessoire.value as any
}
const reset = () => {
  addProduct.value = {
    id: '',
    nom: '',
    capacite: 0,
    prix: 0,
    description: ''
  }
}
</script>
<style lang="scss" src="./addDetails.scss" scoped></style>