@import '../../../assets/Colors.scss';

.add-equipment {
  display: flex;
  padding: .5rem 1rem;
  flex: 1;
  font-weight: bold;
  gap: 1rem;

  .adds {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0 0 .7rem .7rem;
    // background-color: rgba($base , .6);
    border-radius: .5rem;
    width: 25%;

    .tittle {
      background-color: $base;
      color: $yelow;
      font-size: 1.5rem;
      text-align: center;
      border-radius: .5rem .5rem 0 0;
      padding: .8rem 1.3rem;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: .6rem 1.2rem;

      .item {
        display: flex;
        flex-direction: column;

        // label {
        //   font-size: .9rem;
        // }

        input , textarea{
          padding: .5rem 1rem;
          border-radius: .5rem;
          outline: none;
          // border: 1px solid rgba(0,0,0,.125);
          border: 1px solid $base;

          &:focus {
            box-shadow: 0 0 .5rem $base;
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        background-color: $base;
        padding: .5rem 1.1rem;
        border: none;
        color: $black;
        border-radius: .5rem;
        font-weight: bold;
        transition: scale .2s linear;

        &::before {
          content: '';
          height: 1.5rem;
          width: 1.5rem;
          background-image: url('../../../assets/Icon/add.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:hover {
          scale: 1.1;
        }

        &:active {
          scale: .95;
        }
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: .5rem 1rem;
    height: 90vh;
    background-color: rgba($base , .5);
    gap: .8rem;
    border-radius: 0 0 .5rem .5rem;
    flex: 1;

    .card {
      display: flex;
      flex-direction: column;
      padding: .5rem 1rem;
      background-color: $yelow;
      border-radius: .5rem;
      box-shadow: 0 0 .2rem $black;
      color: $black;
      gap: .6rem;
      .label{
        font-size: 1.9rem;
      }
      .info {
        display: flex;
        padding: .5rem 1.2rem;
        font-size: 1.2rem;
        gap: .5rem;
        .info-item{
          padding: .5rem 1rem;
          font-size: 1.9rem;
          font-weight: bold;
          border-right: .1rem solid $black;
        }
      }
      .top-course{
        display: flex;
        justify-content: space-between;
        .add-accessoire{
          background-color: $base;
          padding: .5rem 1rem;
          border-radius: .5rem;
          color: $white;
        }
      }
      .course {
        display: flex;
        flex-wrap: wrap;
        border-bottom: .1rem solid $black;
        position: relative;

        .course-item {
          display: flex;
          padding: .5rem 1.2rem;
          gap: .3rem;

          &::before {
            content: '';
            background-color: $base;
            border-radius: 100%;
            width: 1rem;
            height: 1rem;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../../../assets/Icon/add.svg');
          }
        }

        .add-accessoire {
          background-color: $base;
          scale: .95;
          transition: all .2s linear;

          &:active {
            transition: none;
            scale: .9;
          }
        }
      }
    }

    .action {
      display: flex;
      gap: .5rem;
      align-self: center;
      
      .btn {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        font-size: 2rem;
        gap: .5rem;
        box-shadow: 0 0 .1rem $black;
        border-radius: .5rem;
        color: $black;
        transition: scale .3s linear;
        scale: .9;

        &::before {
          content: '';
          width: 2rem;
          height: 2rem;
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &.update::before {
          background-image: url('../../../assets/Icon/edit.svg');
        }

        &.delete::before {
          background-image: url('../../../assets/Icon/delete.svg');
        }

        &.info-teacher::before {
          background-image: url('../../../assets/Icon/info.svg');
        }

        &:hover {
          scale: 1;
        }
      }
    }
  }
}