<template>
  <div class="modal-dialogue">
    <div class="overlay-close"></div>
    <div class="modale-containe">
      <div class="btn-close"></div>
      
      <div class="icone"></div>
      <div class="erreur">Erreur</div>
    </div>
  </div>
</template>